<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}Recipe App{% endblock %}
    </title>
    <link rel="stylesheet" 
          href="/static/styles.css">
    {% block head %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}

      <footer>
        (Tagline for Recipe App in Footer)
      </footer>
  </body>
</html>
