{% extends 'base.html' %}
{% block title %}Recipe App - Build Recipe{% endblock %}

{% block body %}
  <h1>Build a new recipe!</h1>

  <form action="/display_recipe">
    <label for= "conversion-type">Select how you want to change your recipe:</label><br>
        <input type="radio" name="conversion-type" value="gluten-free">Make it Gluten-Free </input><br>
        <input type="radio" name="conversion-type" value="vegan">Make it Vegan </input><br>
        <input type="radio" name="conversion-type" value="halal">Make it Halal </input><br>
        <input type="radio" name="conversion-type" value="kosher">Make it Kosher </input><br>
        <input type="radio" name="conversion-type" value="dairy-free">Make it Dairy-Free </input><br>
        <input type="radio" name="conversion-type" value="nut-free">Make it Nut-Free </input><br>
        <input type="radio" name="conversion-type" value="peanut-free">Make it Peanut-Free </input>
        <br><br><br>

    <label for="recipe-name">Recipe Name:</label>
    <input type="text" name="recipe_name" id="recipe-name"/>   <!-- Should this be the same as recipe_name in model.py? -->
    <br><br>
    
    <label for="num_servings">Number of Servings:</label>
    <input type="text" name="num_servings" id="num_servings">
    <br><br>
    
    <label for="prep_time">Prep Time in Minutes:</label>
    <input type="text" name="prep_time" id="prep_time">
    <br><br>
    
    <label for="cook_time">Cook Time in Minutes:</label>
    <input type="text" name="cook_time" id="cook_time">
    <br><br>

    <label for="ingred_1">Add one Ingredient:</label>
    <input type="text" name="ingred_1" id="ingred_1">       <!-- Add ingredient type -->
    <br><br>

    <label for="ingred_1_details">How that ingredient should be prepped:</label>    <!-- Add the prep details for that ingredient-->
    <input type="text" name="ingred_1_details" id="ingred_1_details">
    <br><br>

    <label for="recipe_instructions">Recipe Instructions:</label>
    <input type="text" name="recipe_instructions" id="recipe_instructions">
    <br><br>

    <button type="submit">Build My Recipe</button>
  </form>
  <br>
  <br>

  <form action="/user_profile_page">
    <label for= "cancel">To Cancel This Recipe and Return to My Profile Page:</label>
    <button type="submit">Cancel This Recipe</button>
    <br><br><br>
  </form>
{% endblock %}

<!-- Have:   1) working title of app 
        2) back to user profile button in upper right
        3) form: user selects specification to convert recipe by (gluten-free)
        4) input: user add recipe name
        5) user- add info re: ingredients
        6) user- add info re: prep/cook time and servings
        7) user- add info re: instructions
        8) space for stock image
        9) button: to cancel and return to user profile Page
        10) button: to get recipe conversion -->