{% extends 'base.html' %}
{% block title %}Share My Recipe App Homepage{% endblock %}

{% block body %}
  <h1>Share My Recipe App</h1>

  <h3>Have Family Baking Recipes you want to share, but need to make them for others according to their dietary specification?<br>
    Gluten-Free Cakes- Cupcakes- Quick Breads? Enter In Your Recipe and Get Back a Gluten-Free Version</h3>
    <br>
    <br>

  <h3>See What This App Does</h3>
  <ul>
    <li><a href="/_______">How App Works</a></li>
    <li><a href="/_______">Some Examples</a></li>
    <li><a href="/_______">Reviews of This App</a></li>
  </ul>
  <br>
  <br>

  <!-- add buttons to submit Create Account info and Submit Log In info -->
  <h2>New Users: Create an Account</h2>
      <form action="/create_new_account">
        <button type="submit">Create My Account</button>
      </form>

  <h2>Existing Users: Log In</h2>
      <form action="/user_profile_page">
          <label for="email-input">Email:</label>
          <input type="text" name="email" id="email-input"/>

          <label for="password-input">Password:</label>
          <input type="password" name="password" id="password-input">

        <button type="submit">Log In</button>
      </form>
  <br>
  <br>
  <br>
{% endblock %}