{% extends 'base.html' %}
{% block title %}Recipe App - User Profile Page{% endblock %}

{% block body %}
  <h3>(Working title of Recipe App</h3>

  <h1> (Username's) Profile Page</h1>

  <h2>(Username's) Recipe Box</h2>
  <ol>
    <li>Recipe 1 User created</li>
    <li>Recipe 2 User created</li>
    <li>Recipe 3 User created</li>
  </ol>

  <form action="/user_logged_out">
    <button type="submit">Log Out</button>
  </form>

  <form action="/build_recipe.html">
    <button type="submit">Build a New Recipe</button>
  </form>
{% endblock %}

<!-- have:  1) working title of app in header
            2) log out button -- top right
            3) title: User Profile Page
            4) title box: all of user's saved recipes
            5) linked list: recipe names user created (links to recipes)
            6) button to build/ convert a recipe -->


