{% extends 'base.html' %}
{% block title %}Share My Recipe App - User Profile Page{% endblock %}

{% block body %}
  <h3>Share My Recipe App</h3>

  <h1> (Username's) Profile Page</h1>

  <h2>(Username's) Recipe Box</h2>
  <ol>
    <li><a href="/_______">Recipe 1 User Created</a></li>
    <li><a href="/_______">Recipe 2 User Created</a></li>
    <li><a href="/_______">Recipe 3 User Created</a></li>
  </ol>
  <br>
  <br>

  <form action="/build_recipe">
    <button type="submit">Build a New Recipe</button>
  </form>
  <br>
  <br>

  <form action="/user_logged_out">
    <button type="submit">Log Out</button>
  </form>
  <br>
  <br>
{% endblock %}

<!-- have:  1) working title of app in header
            2) log out button -- top right
            3) title: User Profile Page
            4) title box: all of user's saved recipes
            5) linked list: recipe names user created (links to recipes)
            6) button to build/ convert a recipe -->


